html {
  /* padding-top: 15%; */
  text-align: center;
}

.App h1 {
  padding-top: 20%;
  text-decoration: underline;
  width: 100%;
}

p {
  color: rgb(25, 0, 255);
  font-size: larger;
  font-weight: 500;
}
